.left {
  width: 359px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  background-color: #fff;
}

.right{
  width: 1081;
  height: 1024;
}

.top{
  display: flex;
  justify-content: space-between;
}

.logo,
.pfp,
.up,
.setting,
.logout,
.down {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 3rem;
}

.pfp, .down {
  display: flex;
  align-items: center; 
  gap: 10px; 
}

.upload-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  background-color: #f6dcde;
}