.left {
  width: 359px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  background-color: #fff;
}

.right {
  width: 1081px;
  height: 1024px;
}

.top {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  padding: 0 2rem;
}

.logo,
.pfp,
.up,
.setting,
.logout,
.down {
  display: flex;
  width: 100%;
  height: 55px;
  align-items: center;
  text-align: center;
  gap: 10px;
  margin-top: 2rem;
  font-weight: bold;
  font-size: 18px;
  color: #3d3d3d;
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  font-weight: bold;
}

#addfile {
  width: 143px;
  height: 56px;
  border: 3px solid #ee9aa1;
  border-radius: 20px;
  font-size: 24px;
  background-color: #fff;
}

#formFile {
  align-items: center;
  width: 50%;
}

.showfile {
  width: 992px;
  height: 550px;
  background-color: #f9bec3;
  border-radius: 20px;
  margin: 2rem;
  overflow: scroll;
}

::-webkit-scrollbar {
  display: none;
}


.listfile {
  width: 992px;
  height: 489;
  background-color: #fff;
  border-radius: 10px;
  margin: 2rem;
}

.pfp button {
  width: 200px;
  height: 56px;
  border: none;
  background-color: #fff;
}

.left {
  width: 359px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fff;
  padding-top: 2rem;
}

.nav-item {
  text-decoration: none;
  color: #3d3d3d;
}

.nav-item svg {
  width: 30px;
  height: 24px;
}

.bi-person-circle {
  top: 10px;
  font-size: 40px;
}

#upload {
  height: 55px;
  width: 155px;
  border: 3px solid #f9bec3;
  border-radius: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #3d3d3d;
  background-color: #fffdec;
}

#upload:hover {
  background-color: #f37199;
  border: 3px solid #f37199;
  color: #fffdec;
}

.pfp:hover,
.up:hover,
.setting:hover,
.logout:hover,
.down:hover {
  color: #fffdec;
  background-color: #f37199;
}

.upload-container {
  display: flex;
  justify-content: space-between;
  height: 1024px;
  color: #3d3d3d;
  background-color: #f6dcde;
}