.left {
    width: 359px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    background-color: #fff;
  }

  .right{
    width: 1081px;
    height: 1024px;
  }

  .top{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    padding: 0 2rem 0 2rem;
  }

  .logo,
  .pfp,
  .up,
  .setting,
  .logout,
  .down {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 3rem;
    margin-top: 2rem;
    font-weight: bold;
    font-size: 18px;
  }

  .nav-item {
    display: flex;
    align-items: center;
    gap: 8px; 
    text-decoration: none;
    font-weight: bold;
}

  #addfile{
    width: 143px;
    height: 56px;
    border: 3px solid #EE9AA1;
    border-radius: 20px;
    font-size: 24px;
    background-color: #fff;
  }

  .showfile{
    width: 992px;
    height: 251px;
    background-color: #F9BEC3;
    border-radius:20px ;
    margin: 2rem;
  }

  .listfile{
    width: 992px;
    height: 489;
    background-color: #FFF;
    border-radius: 10px;
    margin: 2rem;
  }

  .pfp button{
    width: 200px;
    height: 56px;
    border: none;
    background-color: #fff;
  }

  .upload-container {
    display: flex;
    justify-content: space-between;
    height: 1024px;
    background-color: #f6dcde;
  }